<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ event.name }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{{baseUrl}}}/static/css/certificate.css"
    />
    <style>
      body {
        background-image: url("{{{baseUrl}}}/{{{certificate.background}}}");
      }
    </style>
  </head>

  <body>
    <div class="content-logos ">
      {{#certificate.nssLogo}}
      <img
        class="logo-event"
        src="{{{baseUrl}}}/{{{certificate.nssLogo}}}"
        alt="{{ event.name }}"
      />
      {{/certificate.nssLogo}}

      {{#certificate.divider}}
      <img
        class="divider"
        src="{{{baseUrl}}}/{{{certificate.divider}}}"
        alt="{{ event.name }}"
      />
      {{/certificate.divider}}

      {{#certificate.iitrLogo}}
      <img
        class="logo-event"
        src="{{{baseUrl}}}/{{{certificate.iitrLogo}}}"
        alt="{{ event.name }}"
      />
      {{/certificate.iitrLogo}}

      {{#certificate.divider}}
      <img
        class="divider"
        src="{{{baseUrl}}}/{{{certificate.divider}}}"
        alt="{{ event.name }}"
      />
      {{/certificate.divider}}

      {{#certificate.eventLogo}}
      <img
        class="logo-event"
        src="{{{baseUrl}}}/{{{certificate.eventLogo}}}"
        alt="{{ event.name }}"
      />
      {{/certificate.eventLogo}}
    </div>
    <div class="inner-content">
      <h1>{{{certificate.header}}}</h1>
      <h5>{{{certificate.type1}}}</h5>
      <p>{{{certificate.textLine1}}}</p>
      <p style="font-weight:800 ;color: black; text-transform:uppercase">
        {{ attendee.first_name }} {{ attendee.last_name }}
      </p>
      <p>{{{certificate.textLine2}}}</p>

      <div class="signature-flex">
        <div class="signature">
          <div class="image">
            {{#certificate.signature2}}
            <img
              src="{{{baseUrl}}}/{{{certificate.signature2}}}"
              alt="{{ event.name }}"
            />
            {{/certificate.signature2}}
          </div>
        </div>

        <div class="signature">
          <div class="image">
            {{#certificate.signature1}}
            <img
              src="{{{baseUrl}}}/{{{certificate.signature1}}}"
              alt="{{ event.name }}"
            />
            {{/certificate.signature1}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
