<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ event.name }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{{baseUrl}}}/static/css/certificate.css"
    />
    <style>
      body {
        background-image: url("{{{baseUrl}}}/{{{certificate.background}}}");
      }
    </style>
  </head>

  <body>
    <div class="content-logos ">
      {{#certificate.nssLogo}}
      <img
        class="logo-event"
        src="{{{baseUrl}}}/{{{certificate.nssLogo}}}"
        alt="{{ event.name }}"
      />
      {{/certificate.nssLogo}}

      {{#certificate.divider}}
      <img
        class="divider"
        src="{{{baseUrl}}}/{{{certificate.divider}}}"
        alt="{{ event.name }}"
      />
      {{/certificate.divider}}

      {{#certificate.iitrLogo}}
      <img
        class="logo-event"
        src="{{{baseUrl}}}/{{{certificate.iitrLogo}}}"
        alt="{{ event.name }}"
      />
      {{/certificate.iitrLogo}}

      {{#certificate.divider}}
      <img
        class="divider"
        src="{{{baseUrl}}}/{{{certificate.divider}}}"
        alt="{{ event.name }}"
      />
      {{/certificate.divider}}

      {{#certificate.eventLogo}}
      <img
        class="logo-event"
        src="{{{baseUrl}}}/{{{certificate.eventLogo}}}"
        alt="{{ event.name }}"
      />
      {{/certificate.eventLogo}}
    </div>
    <div class="inner-content">
      <h1>{{{certificate.header}}}</h1>
      <h5>{{{certificate.type1}}}</h5>
      <p>{{{certificate.textLine1}}}</p>
      <p style="font-weight:800 ;color: black; text-transform:uppercase">
        {{ attendee.first_name }} {{ attendee.last_name }}
      </p>
      <p>{{{certificate.textLine2}}}</p>

      <div class="signature-flex">
        <div class="signature">
          <div class="image">
            <img
              src="https://lh3.googleusercontent.com/8e31t4-K_oTFOScbEc29MiY--TozPHiG370_yYiJg18t174bR7d7YrywqeR8RxWZvBD1HkODbbpYl3ww-CEq-MqlMvtdiwKqEylIQW9KxRKd9pltOLmpT-RXJzOAF5TK76VviZNfIIOZnNJw0WTM9DU9gKdErdYhbfj40hX2mZ1hDQVOM2Vyfk1fxsqCQC1yyZtUY0P9qpw16VQYqOuhhhtU1YI3ab77CTclIx-CI0cLTjHERjc1b1ny_UyA23UNFDuk9jAmB2HtAO2Nk_rTt3wBdsyi_0FUKd7i6gfBZXLG2ckCczamIaMviZWkXORZuUBgG0sYNz0_9tiObztjBcaLypVyAjYBh-XKfPurPppCSAOPB7MznPZdU7vr8zFRE0T9nQzKi-i3NjocvfNwNhhy8Q0OHvzuDRKYf0aPhIG9M6qVoryyKtQjV2clUih5MsLxGgxAeWRXIUjF_WbS7FcXBTk4Z_-ej7W5i4KsXaRa5dqf1haGLVHT18xLV50U39x3wGq0O1-8g1a1jwfi5FfC97Kvh9Dei5n0oRc1gHeJ_D_B-y1GTGDfBAOGeO6AMEIMKA9jHIIGCAWDB7C8mikXJPo0_mqGLK7aX4qU4tIldFrFzTRiZrA3lKT3hJ0Aj4h9Ww8R_KOlGzDgkMGine7u0yQyEK8=w717-h432-no"
              alt
            />
            <p>Sample text</p>
          </div>
        </div>

        <div class="signature">
          <div class="image">
            <img
              src="https://lh3.googleusercontent.com/MhxY6_UWYY-ILn83TbEPzrbVUZZAKWs9gGnFdL-bLCEK9VNXu1Cis5AQDHzocG8emze4W7cblOAA0hxm5irdOeHmcAhQxHYkE-kE4rjm_HJED1_HTyXZYuCL0C5NEF_nTXTXeRDMnK4_WpUrbVhusyWDLosNCiV32GJ3sqqLrCVg2w0MP_D7kyWSloAlpvxyCEHsS2b5IZTQ_5vcpQ-IkHpbYqAr7PxaaRqe1X6oDIRLulkWSZa8j-XzHSgX5obPZ00A5vFqHV-r07vLDCl18LPpyWCfc5DaZrjepyMV_4pujjQoTs4uf0tmcblPbWjXAFlC_9DxorZu_KminqiabhqJDeG_ZNg-PYAXPVCvOPJy9h-PhJIsLSHj-uWCwf2Yv86GLDLWsbhA1YOtwQ3PmaSepXKV0wSIlJAqefTrpJh86xHIuCQGa6yfac6iCJH-vN661oCYSCIsL6qMPp_a-xGQuezXf-tsaf_9PmqGFOljjwpGYL36jMgEWu64ISWAJE1gIP0Rg9SbXdLmQwzonjqOGXBYZtma0qShjB-3rY6xpFcTobaJvxTEVkNHE5nOcW4YmUZw6yNPa7s3KoqeWNQDNe10scda4t9UTsxIC6dKt2dDHziDhEzVZtHQhMmbN0dx8B1Vjv9vUbx89C4cizJjj0VBLqE=w337-h220-no"
              alt
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
