@page {
    size: A4 landscape;
}

html {
    height: 100%;
}

body {
    background-color: #eee;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    /* font-family: montseeret; */
    font-size: 15px;
    height: 100%;
    margin: 0;
    padding: 1cm;
    text-align: center;
}

.content-logos {
    text-align: left;
}

.logo-event {
    max-height: 50px;
    width: auto;
}

.divider {
    max-height: 50px;
    max-width: 1px;
}

.inner-content {
    display: block;
    left: 50%;
    width: 80%;
    position: fixed;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-30%, -30%);
}

.inner-content p{
    color: #3f3f3f;
}

.divider {
    width: 2px;
    height: auto;
    background-color: black;
}

h1 {
    margin: 0.5cm 0 0 0;
}

h5 {
    margin: -0.1cm 0 0 0;
}

.inner-content p {
    margin: 0.5cm 0;
    padding: 0 10%;
}

.signature-flex {
    padding: .5vw;
    top: 85%;
    left: 10%;
    position: fixed;
    font-size: 0;
    display: flexbox;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

.signature-flex .signature {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 15vw;
}

.signature-flex .signature .text h1{
  color: brown;
}

.signature-flex .signature .image img {
    width: 100%;
    height: auto;
}

.registration-id {
    position: fixed;
    left: -16%;
    top: 170%;
}